iUnity2d/Temp/
iUnity2d/Library/
iUnity2d/ExportedObj/
iUnity2d/obj/
iUnity2d/.vs/

# Build results

iUnity2d/[Dd]ebug/
iUnity2d/[Rr]elease/
iUnity2d/x64/
iUnity2d/build/
iUnity2d/[Bb]in/
iUnity2d/[Oo]bj/
iUnity2d/[Bb]uild/
iUnity2d/[Bb]uilds/

*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

*.csproj
*.sln
iUnity2d/Assets/iUnity2d/0/
